*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}


body{

  overflow:hidden;

  font-family:Arial, sans-serif;

}


.app{

height:100vh;

background:#050816;

color:white;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;

}


.content{

z-index:2;

text-align:center;

}


h1{

font-size:90px;

letter-spacing:15px;

color:#00e5ff;


text-shadow:

0 0 20px #00e5ff,

0 0 50px #00e5ff;


animation:glow 2s infinite alternate;

}



h2{

margin-top:20px;

font-size:30px;

color:#a78bfa;

}



p{

margin-top:25px;

font-size:20px;

line-height:1.6;

color:#cbd5e1;

}



button{


margin-top:40px;

padding:20px 70px;

border-radius:50px;

border:2px solid #7c3aed;

background:transparent;

color:white;

font-size:22px;

font-weight:bold;

cursor:pointer;


box-shadow:0 0 25px #7c3aed;


transition:.3s;


}


button:hover{


background:#7c3aed;

transform:scale(1.1);


}




.background span{


position:absolute;

width:5px;

height:5px;

background:#00e5ff;

border-radius:50%;


animation:float 10s infinite;


}


.background span:nth-child(1){

left:20%;

animation-duration:8s;

}


.background span:nth-child(2){

left:40%;

animation-duration:12s;

}


.background span:nth-child(3){

left:60%;

animation-duration:7s;

}


.background span:nth-child(4){

left:80%;

animation-duration:10s;

}


.background span:nth-child(5){

left:90%;

animation-duration:14s;

}



@keyframes float{


0%{

top:100%;

opacity:0;

}


50%{

opacity:1;

}


100%{

top:-10%;

opacity:0;

}


}



@keyframes glow{


from{

text-shadow:

0 0 20px #00e5ff;

}


to{


text-shadow:

0 0 60px #00e5ff;


}


}
.intro{

z-index:2;

text-align:center;

max-width:800px;

}


.intro h1{

font-size:50px;

color:#ff0055;

}


.intro p{

font-size:22px;

line-height:1.8;

}


.intro button{

margin-top:40px;

}
input{

margin-top:25px;

width:320px;

padding:18px;

font-size:20px;

border-radius:12px;

border:none;

outline:none;

background:#111827;

color:white;

text-align:center;

box-shadow:0 0 20px #00e5ff;

}